*.pyc
django_developer_portfolio/django_developer_portfolio/__pycache__
django_developer_porfolio/projects/__pycache__
django_developer_porfolio/blog/__pycache__
django_developer_porfolio/verison_lord/__pycache__
