{% extends "base.html" %}
{% load static %}
{% block page_content %}
<h1>Version Lord</h1>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">Software</th>
        <th scope="col">Current Version</th>
        <th scope="col">Last Updated</th>
      </tr>
    </thead>
    <tbody>
    {% for version in versions %}   
    <tr>
        <td>{{ version.software }}</td>
        <td>{{ version.current_version }}</td>
        <td>{{ version.last_updated }}</td>
    </tr>
    {% endfor %}
    </tbody>
  </table>
  {% endblock %}